    </div>
<!--about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <h1 class="about_taital">About Us</h1>
        <p class="about_text">
            <b>What Is Aarambh Hospitality Services?</b>
            <br /> AARAMBH HOSPITALITY SERVICES (AHS) Est.2019 (ISO 9001:2015 ) is a leading hospitality service provider committed to delivering exceptional experiences.
            <br />
            <br />Our commitment to excellence and spirit of progress has resulted in the successful provision of over 5 million meals annually and counting more every year. We continuously adapt our services to meet the unique needs of our clients by conducting market research and offering solutions. In 2019, we established a cutting-edge central kitchen in Mahim, which enabled us to secure our first contract with m/s. Oldendroff. Building on this success, we booked a contract with Ernst & Young and later with Grasim Industries in July 2020. Our previous professional experience with Grasim Industries played a significant role in securing this contract, which allowed us to serve 9,000 meals per day. In 2021, we expanded our services to include managing catering services and providing manpower supplies to Vedanta's office.
        </p>
        <div class="about_section_2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_image"><img src="~/Content/images/about-img.png"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about_taital_main">
                        <p class="lorem_text">
                            <br />In Tamilnadu, we got the contract of BHEL (Bharat Heavy Electricals Limited) in the month of September 2022.
                            <br />In Mumbai, we received the contract from Torrent Pharmaceuticals in the month of April 2023.
                            <br />
                            <br />Our strength lies in our determination to deliver innovative solutions to our clients and the motivation to continue doing so comes from our increasing list of clients, whose satisfaction is a testimony to the exceptional level of our service.
                            As a transparent and open company, we value the exchange of innovative ideas with our clients and aim to bring positive changes that align with our vision, which we hope will be supported by all.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end -->