
@{
    ViewBag.Title = "Blogs";
}

</div>
<!--header section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog_img"><img src="~/Content/images/blog-img.png"></div>
            </div>
            <div class="col-md-6">
                <h1 class="blog_taital" style="color: #e99419">What We Do</h1>
                <p class="blog_text">
                    AHS is happy to tie hands with its partners and offer Comprehensive Hospitality Management Services to our partners in Corporate, Industrial, and Hospital covering Staff Cafe, Executive Dining, Reception Management, Housekeeping, Pantry Services, Guest House Management for Corporate Office and Staff Cafe, Labour Canteen, Tea and Snacks Service, Pantry Service and Housekeeping for Industrial Level and lastly In Patient Dining, Doctor Dining, Staff Dining, Visitors Cafeteria and Events and Seminars for Hospital.
                    Affordable prices OR Fair price OR Moderate costs
                    There’s nothing better than a price that suits both your budget and needs


                </p>
                @*<div class="read_bt"><a href="#">Read More</a></div>*@
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
