
@{
    ViewBag.Title = "CertificatesPage";
}

</div>
<!--header section end -->
<!-- events section start -->
<div class="events_section layout_padding">
    <div class="container">
        <h1 class="events_taital" style="color: #e99419 ">
            OUR LICENCES
        </h1>
        <p style="text-align:center;font-size:21px" class="about_text">
            @*OUR LICENCES*@
            <br />
            Particulars Reference
            <br />
            Shop and Establishment: 2110200315521412
            <br />
            FSSAI Licence No.: 11521014000673
            <br />

            GST: 27AQUPP4281C1ZG
            <br />

            UDYAM Registration Number: UDYAM-MH-33-0130002
            <br />

            PF Regd. Id: MHBAN2119297000
            <br />

            ESIC CODE NO: 31001114770001099
            <br />

            Professional Tax: MH002133853202021E
            <br />

            Our Bankers: AXIS BANK, ICICI BANK
            <br />

            Our Charted Accountants: DDHAEECH AND CO
            <br />

            Our Legal & HR Consultants: PARKAR AND ASSOCIATE
        </p>
        <div class="events_section_2">
            <div style="text-align:center">
                <img src="~/Content/images/Certificate1.jpeg">
                <br />
                <br />
                <img src="~/Content/images/Certificate2.jpeg">
                @*<div class="play_icon"><a href="#"><img src="~/Content/images/play-icon.png"></a></div>*@
            </div>
        </div>
        @*<div class="seemore_bt"><a href="#">See More</a></div>*@
    </div>
</div>
<!-- events section end -->
