@{
    ViewBag.Title = "Contact";
}
      </div>
<!--header section end -->
<!-- contact section start -->
<div class="contact_section layout_padding margin_top90">
    <div class="container">
        <h1 class="contact_taital" style="color: #e99419">Get In Touch</h1>
        <p class="contact_text" style="text-align:justify">
            In order to meet the needs of each and every client, AARAMBH HOSPITALITY SERVICES is dedicated to offering the best hospitality solutions. We are the go-to option for companies and people searching for a trustworthy and effective hospitality partner because of our wide range of services, skilled staff of experts, and first-rate customer service. Contact us right now to learn more about our offerings and how we can help you with your hospitality needs.
            <br>Stop looking here and there and just AARAMBH your event with AARAMBH HOSPITALITY SERVICE, but how??
            <br>
            <br>Don't worry,
            <br>Here's  how you can
            @*<br>AARAMBH HOSPITALITY SERVICES
        <br>ADDRESS: Shop No.1,16, Victory Mansion, S T Road, Mahim, Mumbai -400016
        <br>TAMIL NADU BRANCH
        <br>AARAMBH HOSPITALITY SERVICES
        <br>CH - 15, OLD NO. 22 AND NEW NO.64, Alandur Road,
        <br>Saidapet, Chennai, Chennai, Tamil Nadu, 600015
        <br>
        <br>Dial Us Here
        <br>9167235755/9820480815
        <br>Find us here!!
        <br>prasanna.shetty@ahs.net.in/ info@ahs.net.in*@
        </p>
        <div class="contact_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_main">
                        <input type="text" id ="name" class="mail_text" placeholder="Full Name" name="Full Name">
                        <input type="text" id="phone" class="mail_text" placeholder="Phone Number" name="Phone Number"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <input type="text" id="emailid" class="mail_text" placeholder="Email" name="Email">
                        <textarea class="massage-bt" style="background-color: #e99419; " placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                        <div class="send_bt"><a id="send_button" href="javascript:MailSending()">SEND</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.6447967032236!2d72.84457830000001!3d19.035367499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ced348dada51%3A0x9ab858d1b6c31056!2sVictory%20Mansion%2C%20Sitladevi%20Temple%20Road%2C%20New%20Girgaonkar%20Wadi%2C%20New%20Dinkar%20Co%20Operative%20Housing%20Society%2C%20Mahim%2C%20Mumbai%2C%20Maharashtra%20400016!5e0!3m2!1sen!2sin!4v1689927451816!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
<script>
    function MailSending() {
        debugger;
        if ($("#name").val() == '') {
            alert('Enter name');
            return;
        }
        if ($("#phone").val() == '') {
            alert('Enter Phone number');
            return;
        }
        if ($("#emailid").val() == '') {
            alert('Enter Email ID');
            return;
        }

        $.ajax({
            type: "GET",
            url: 'Home/SendMail?name=' + $("#name").val() + "&phonenumber=" + $("#phone").val() + "&emailid=" + $("#emailid").val() + "&message=" + $('#comment').val(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: false,
            cache: false,
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown)
            }
        });

    }
</script>