@{
    ViewBag.Title = "Events";
}
</div>
<!--header section end -->
<!-- events section start -->
<div class="events_section layout_padding">
    <div class="container">
        <h1 class="events_taital" style="color: #de4930 ">Our Clients</h1>
        <p style="text-align:center" class="about_text">
            "Trusted by Top Clients: Exceeding Expectations Every Time"
        </p>
        <div class="events_section_2">
            <div class="">
                <img src="~/Content/images/Clients.png">
                <img src="~/Content/images/Clients2.png">
                @*<div class="play_icon"><a href="#"><img src="~/Content/images/play-icon.png"></a></div>*@
            </div>
        </div>
        @*<div class="seemore_bt"><a href="#">See More</a></div>*@
    </div>
</div>
<!-- events section end -->


