@{
    ViewBag.Title = "Home Page";
}

<!--banner section start -->
<div class="banner_section layout_padding">
    <div class="container-fluid">
        <section class="slide-wrapper">
            <div class="container-fluid">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="banner_main">
                                    <h1 class="banner_taital">
                                        HOSPITALITY IS TO MAKE A PERSON FEEL HOMELY!
                                    </h1>
                                    <p class="banner_text"></p>
                                    <div class="btn_main">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="banner_main">
                                    <h1 class="banner_taital">Elevating Hospitality Experiences</h1>
                                    <p class="banner_text"></p>
                                    <div class="btn_main">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="banner_main">
                                    <h1 class="banner_taital">Contact us to get our delicious meal for you and your workplace</h1>
                                    <p class="banner_text"></p>
                                    <div class="btn_main">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="banner_main">
                                    <h1 class="banner_taital">Sparkling Sanctuary: Exceptionally Clean Services for Guest Houses</h1>
                                    <p class="banner_text"></p>
                                    <div class="btn_main">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="carousel-item">
                            <div class="container">
                                <div class="banner_main">
                                    <h1 class="banner_taital">Business Agency Profit Your Marketing</h1>
                                    <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when</p>
                                    <div class="btn_main">
                                        <div class="contact_bt active "><a href="#">Contact Us</a></div>
                                        <div class="readmore_bt"><a href="#">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--banner section end -->
    </div>
<!--about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <p style=" font-size: 21px; text-align: justify;" class="about_text">
            The hospitality service industry is a multifaceted and ever-changing field that includes various enterprises, such as dining establishments, and catering services.  Its fundamental objective is to deliver outstanding service and establish unforgettable experiences for guests and clients. A luxurious hotel-level food service, the aim is to guarantee that every guest is received warmly, at ease, and looked after. Through prioritizing customers and clients, the hospitality service industry has a significant impact on shaping our excursions and enriching our appreciation of significant events in life.
            <br />
            <br>To be with you in all these events, we want to present you with AARAMBH HOSPITALITY SERVICES
        </p>
        @*<div class="about_section_2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_image"><img src="~/Content/images/about-img.png"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about_taital_main">
                        <p class="lorem_text">
                            <br />In Tamilnadu, we got the contract of BHEL (Bharat Heavy Electricals Limited) in the month of September 2022.
                            <br />In Mumbai, we received the contract from Torrent Pharmaceuticals in the month of April 2023.
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<!--about section end -->
<!-- services section start -->
<div class="layout_padding">
    <div class="container">
        <h1 class="services_taital" style="color: #e99419 ">What We Do</h1>
        <p class="about_text"> We provide Excellence in Food and Facility Management Service by upholding our Organization's Culture in everything we do and serve <a style="color: #e99419 " href="~/Services">Read more...</a></p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/corporatehospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Corporate Catering</h4>
                    <p class="ipsum_text">In the realm of corporate catering, our seamless services weave together the aromatic allure of a bustling staff cafe, the impeccable precision of dining execution, the warm embrace of reception management, the enchanting touch of housekeeping fairies, the delightful indulgence of pantry services, and the enchanting tranquility of expertly managed guesthouses.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-4.png"></div>
                    </div>
                    <h4 class="selection_text">Securities Transactions</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/IndustrialHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Industrial Catering</h4>
                    <p class="ipsum_text">Embracing the essence of industrial catering, our service excels in providing a delightful staff cafe, a well-appointed labor canteen, convenient floor tea and snacks services, fully-stocked pantries, and impeccable housekeeping, creating an atmosphere of productivity and contentment in the heart of the industrial environment.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-5.png"></div>
                    </div>
                    <h4 class="selection_text">Advisory Activities</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/HospitalHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Hospital Catering</h4>
                    <p class="ipsum_text">Within our hospital catering service, we prioritize the well-being of patients, doctors, staff, and visitors, offering delectable in-patient dining, exclusive doctor's dining, comforting staff dining, a convenient visitor cafeteria, and meticulously organized events and seminars, fostering a nurturing and engaging atmosphere for all involved in the realm of healthcare.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-6.png"></div>
                    </div>
                    <h4 class="selection_text">Management and Asset</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog_img"><img src="~/Content/images/blog-img.png"></div>
            </div>
            <div class="col-md-6">
                <h1 class="blog_taital" style="color: #e99419">AARAMBH HOSPITALITY SERVICES </h1>
                <p class="blog_text">AARAMBH HOSPITALITY SERVICES (AHS) Est.2019 (ISO 9001:2015 ) is a leading hospitality service provider committed to delivering exceptional experiences</p>
                <div class="read_bt"><a href="@Url.Action("About", "Home")">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- events section start -->
@*<div class="events_section layout_padding">
    <div class="container">
        <h1 class="events_taital">Follow Our Video For Solved Your Problem</h1>
        <div class="events_section_2">
            <div class="events_bg">
                <div class="play_icon"><a href="#"><img src="~/Content/images/play-icon.png"></a></div>
            </div>
        </div>
        <div class="seemore_bt"><a href="#">See More</a></div>
    </div>
</div>*@
<!-- events section end -->
<!-- contact section start -->
<!--<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_taital">Get In Touch</h1>
        <p class="contact_text">majority have suffered alteration in some form, by injected humour, or </p>
        <div class="contact_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_main">
                        <input type="text" class="mail_text" placeholder="Full Name" name="Full Name">
                        <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                        <input type="text" class="mail_text" placeholder="Email" name="Email">
                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        <div class="send_bt"><a href="#">SEND</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- contact section end -->
<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
    <div id="my_carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">  
            <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my_carousel" data-slide-to="1"></li>
            <li data-target="#my_carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="testimonial_taital" style="color: #e99419">Testimonial</h1>
                    @*<p class="testimonial_text">majority have suffered alteration in some form, by injected humour, or </p>*@
                    <div class="testimonial_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">
                                            Aditya Birla Grasim
                                        </h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">Aarambh Hospitality Services have been serving an average of 7500 meals per day at our industrial canteen premises which is operational 24X7. Their service has been good since the beginning of our collaboration in July 2020. Thank you for your outstanding efforts, and we look forward to continued collaboration.
                                    <br />
                                    <br />
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">
                                            Century Rayon
                                        </h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">
                                        You have consistently demonstrated a high level of professionalism and efficiency. The fact that you have been able to cater to an average of 7500 meals per day is a testament to your team's expertise and ability to manage large-scale operations effectively. Your service has played a pivotal role in ensuring the well-being and satisfaction of our employees.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="testimonial_taital" style="color: #e99419">Testimonial</h1>
                    @*<p class="testimonial_text">majority have suffered alteration in some form, by injected humour, or </p>*@
                    <div class="testimonial_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">
                                            Neon Hospital
                                        </h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">Aarambh Hospitality Services is serving at our Hospital at Kalyan Shil Road, Maharashtra. They are successfully in maintaining the standards and quality of food and service.
                                    <br />
                                    <br />
                                    <br />
                                    <br />

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">
                                            Aditya Birla Grasim
                                        </h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">
                                        Aarambh Hospitality Services has been providing the Catering Services in our Site at Century Rayon Limited, Shahad and Century Rayon Chemical Plant, Kalyan District - Thane, Maharashtra They are serving an average of 7500 meals a day The performance of the firm has been found Satisfactory.
                                        <br />  
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="testimonial_taital" style="color: #e99419">Testimonial</h1>
                    @*<p class="testimonial_text">majority have suffered alteration in some form, by injected humour, or </p>*@
                    <div class="testimonial_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">Ernst & Young Private Limited</h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">
                                        Aarambh Hospitality Services has been serving at our organization since October 2021. We found them they are prompt and maintaining the quality and hygiene in our organization to our satisfaction
                                        <br /><br />
                                        We wish the good luck in their future endeavor..
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="testimonial_box">
                                    <div class="jonimo_taital_main">
                                        <h4 class="jonimo_text">Aditya Birla</h4>
                                        <div class="quick_icon"><img src="~/Content/images/quick-icon.png"></div>
                                        <div class="quick_icon_1"><img src="~/Content/images/quick-icon1.png"></div>
                                    </div>
                                    <p class="dummy_text">
                                        Aarambh Hospitality Services has been providing the Catering Services in our premises Grasim Industries Limited, Site Century Rayon Ltd. Shahad and Century Rayon Chemical Plant. Kalyan, Maharashtra
                                        <br />
                                        <br />
                                        The performance of the firm has been found Satisfactory.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial section end -->