
@{
    ViewBag.Title = "Services";
}

      </div>
<!--header section end -->
<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital" style="color: #de4930 ">What We Do</h1>
        <p class="about_text">We provide Excellence in Food and Facility Management Service by upholding our Organization's Culture in everything we do and serve <a style="color: #de4930 " href="~/Home/Blogs">Read more...</a></p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/corporatehospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Corporate Hospitality</h4>
                    <p class="ipsum_text">In the realm of corporate hospitality, our seamless services weave together the aromatic allure of a bustling staff cafe, the impeccable precision of dining execution, the warm embrace of reception management, the enchanting touch of housekeeping fairies, the delightful indulgence of pantry services, and the enchanting tranquility of expertly managed guesthouses.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-4.png"></div>
                    </div>
                    <h4 class="selection_text">Securities Transactions</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/IndustrialHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Industrial Hospitality</h4>
                    <p class="ipsum_text">Embracing the essence of industrial hospitality, our service excels in providing a delightful staff cafe, a well-appointed labor canteen, convenient floor tea and snacks services, fully-stocked pantries, and impeccable housekeeping, creating an atmosphere of productivity and contentment in the heart of the industrial environment.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-5.png"></div>
                    </div>
                    <h4 class="selection_text">Advisory Activities</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/HospitalHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Hospital Hospitality Services</h4>
                    <p class="ipsum_text">Within our hospital hospitality service, we prioritize the well-being of patients, doctors, staff, and visitors, offering delectable in-patient dining, exclusive doctor's dining, comforting staff dining, a convenient visitor cafeteria, and meticulously organized events and seminars, fostering a nurturing and engaging atmosphere for all involved in the realm of healthcare.</p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-6.png"></div>
                    </div>
                    <h4 class="selection_text">Management and Asset</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- services section end -->
