
@{
    ViewBag.Title = "Services";
}

      </div>
<!--header section end -->
<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital" style="color: #e99419 ">What We Do</h1>
        @*<p class="about_text">
            At Arambha Hospitality, we take pride in offering a diverse range of seamless and impeccable services across various sectors. Our commitment
            <br />to excellence and attention to detail ensure that each sector receives the highest level of care and attention, creating unforgettable experiences for
            <br />our clients.
        </p>*@
    <div class="col-11" style="text-align:justify">
        <p class="about_text">
            At Arambh Hospitality, we take pride in offering a diverse range of seamless and impeccable services across various sectors. Our commitment
            to excellence and attention to detail ensure that each sector receives the highest level of care and attention, creating unforgettable experiences for our clients.
        </p>
    </div>
        <div class="services_section_2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/corporatehospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Corporate Catering</h4>
                    <p class="ipsum_text">
                        <b style="font-weight:bold">Aromatic Allure:</b> Our bustling staff café delights employees with an array of delicious food and beverages, promoting a vibrant and engaging workplace culture.<br /><br />
                        <b style="font-weight:bold">Impeccable Precision:</b> Dining execution is an art form for us, where every detail is meticulously crafted to provide an unforgettable dining experience for corporate events and gatherings.<br /><br />
                        <b style="font-weight:bold">Warm Reception:</b> Our reception management team ensures a welcoming atmosphere, leaving a lasting impression on guests and clients.<br /><br />
                        <b style="font-weight:bold">Enchanting Housekeeping:</b> The housekeeping fairies work their magic, maintaining cleanliness and orderliness, enhancing the overall ambiance of the corporate environment.<br /><br />
                        <b style="font-weight:bold">Delightful Pantry Services:</b> Our pantry services offer a wide selection of snacks and refreshments, ensuring that employees have access to a delightful range of treats throughout the day.<br /><br />
                        <b style="font-weight:bold">Tranquil Guesthouses:</b> Our expertly managed guesthouses provide a peaceful and comfortable stay for corporate travelers, offering a home away from home experience.
                    </p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-4.png"></div>
                    </div>
                    <h4 class="selection_text">Securities Transactions</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/IndustrialHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Industrial Catering</h4>
                    <p class="ipsum_text">
                         <b style="font-weight:bold">Delightful Staff Café:</b> In the industrial setting, our staff café provides a haven for workers to unwind and enjoy delicious meals during their breaks.<br /><br />
                         <b style="font-weight:bold">Well-Appointed Labor Canteen:</b> We design labor canteens to be functional yet inviting spaces, catering to the specific needs of industrial workers.<br /><br />
                         <b style="font-weight:bold">Convenient Floor Services:</b> Tea and snacks are readily available on the factory floor, ensuring that workers can refresh themselves without interrupting their tasks.<br /><br />
                         <b style="font-weight:bold">Fully-Stocked Pantries:</b> Our fully-stocked pantries offer a wide range of refreshments, promoting productivity and contentment among industrial employees.<br /><br />
                         <b style="font-weight:bold">Impeccable Housekeeping:</b> We maintain high cleanliness standards to create a hygienic and pleasant environment within industrial premises.
                    </p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-5.png"></div>
                    </div>
                    <h4 class="selection_text">Advisory Activities</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
                <div class="col-lg-4">
                    <div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/HospitalHospitality.png"></div>
                    </div>
                    <h4 class="selection_text">Hospital Catering</h4>
                    <p class="ipsum_text">
                        <b style="font-weight:bold">Delectable In-Patient Dining:</b> We prioritize the health and satisfaction of patients by offering delicious and nutritious dining options tailored to their needs.<br /><br />
                        <b style="font-weight:bold">Exclusive Doctor's Dining:</b> Our exclusive dining facilities for doctors provide a comfortable and relaxing space for them to recharge during demanding schedules.<br /><br />
                        <b style="font-weight:bold">Comforting Staff Dining:</b> Hospital staff can enjoy a variety of food choices in their dedicated dining area, ensuring they stay nourished and energized.<br /><br />
                        <b style="font-weight:bold">Convenient Visitor Cafeteria:</b> Visitors have access to a convenient cafeteria where they can enjoy refreshments while supporting their loved ones.<br /><br />
                        <b style="font-weight:bold">Meticulously Organized Events and Seminars:</b> We organize events and seminars with utmost care, ensuring a nurturing and engaging atmosphere for healthcare professionals and attendees.
                    </p>
                    @*<div class="icon_box">
                        <div class="icon_1"><img src="~/Content/images/icon-6.png"></div>
                    </div>
                    <h4 class="selection_text">Management and Asset</h4>
                    <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the form, by injected humour, or randomised</p>*@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- services section end -->
